@import url(errores.css);

.cura{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
.seccioncura{
    background-color: rgb(40 40 40 / 80%);
    border: 2px solid #555555af;
    margin: 20px;
    border-radius: 100px;
}
.cura section h2{
    padding-top:10px;
}
.cardscura {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cura section p{
    text-align: center;
    width:auto;
padding:20px;
}