body{
    display: flex;
    justify-content: center;
    background-color: rgb(229, 228, 234);
}
#wholecv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:900px;
    border-radius: 40px;
    overflow: hidden;

}
#sobremi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 34%;
    background-color: rgb(80, 80, 80);
    color:white;
}
#sobremi p {
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 20px;

}
#sobremi img{
    width:150px;
    margin:auto;
    border-radius: 25px;
}
.track{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 20px;
    
}
.track div{
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.track div div{
    background-color: #ffffff;
}

#ingles {
    width: 75%;
    height: 7px;
    background-color: #ffffff;
    color: white;
    border-radius: 10px;
  }
#resto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 66%;
    background-color: rgb(255 255 255);
    color:black;
}