@import url(errores.css);
.boxes div img {
    height:auto;
}

.tips{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
.secciontips{
    background-color: rgb(40 40 40 / 60%);
    border: 2px solid #555555af;
    margin: 20px;
    border-radius: 100px;
}
.tips section h2{
    padding-top:10px;
}
.cardstips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardstips img{
height: auto;
}


.tips section p{
    text-align: center;
    width:auto;
padding:20px;


}


@media (min-width: 1200px) {
.tips section p{
padding-left:200px;
padding-right:200px;
}
}