@import url(style.css);

.contacto {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.division {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* height: 700px; */
    justify-content: center;
}