@import url(style.css);

.boxes {

    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    justify-content: space-around;
}


.boxes div {
    display:flex;
    height: auto;
    border: 2px solid black;
    text-align: center;
    border-radius:33px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    filter: drop-shadow(2px 4px 6px black);
    margin: 25px;
    align-items: center;
    transition: 0s transform;
   
}
.boxes div:hover {
    border: 2px solid red;

}

.boxes div img {
    height: 180px;
    border-radius: 30px;
    
}

.boxes div img:hover {

    border-radius: 25px;
    transform: scale(1.5);
    transition-delay: 0.25s;
}


@media only screen and (min-width: 600px) {

    .boxes div img {
        height: 300px;
      }

      .boxes div {
        min-width:300px;
      }
}