@import url(style.css);

.lab3d{
    padding: 30px;
    background: rgb(70 70 70);
    background: radial-gradient(circle, rgb(70 70 70) 3%, rgb(50 50 50) 78%, rgb(4 51 118 / 70%) 100%);
    margin: 16px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.iframe{
    width:1000px;
    height: 600px;
    border-radius: 20px;
  }

  .intro{
  grid-template-rows: 600px 500px 500px 500px;

  }
  .qr{
    width:500px;
    height:500px;
  }

  .qrs{
    display: flex;
    flex-direction: column;
    align-content: center;

  }
  .accordion-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}