body {
    font-family: 'Young Serif', serif;
    text-align: center;
    background: #000000;
    width: 100%;

}




.boxes {

    margin-top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    justify-content: space-around;
}

#header {
    position: fixed;
    margin-left: 0;
    background-color: #2a294f;
    color: rgb(233, 227, 253);
    top: 10px;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);

}

.boxes div {
    height: auto;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin: 25px;
    flex: flex-grow;
    flex-basis: 21%;
    flex-wrap: wrap;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgb(115, 109, 221) 0%, rgb(81, 81, 248) 35%, rgb(4, 156, 187) 100%);

    opacity: 90%;
    filter: drop-shadow(2px 4px 6px black);
}

.raro {
    background: rgb(239, 239, 245);
}


.boxes div:hover {
    width: 250px;
    border: 3px solid red;

}

.boxes div img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    
}

.boxes div img:hover {

    border-radius: 25px;
    transform: scale(1.5);
}

.boxes :first-child {
    border-top-left-radius: 75px;
}

.boxes :last-child {
    border-bottom-right-radius: 75px;
}

#hidden:hover {
    visibility: hidden;
}




@media (min-width: 768px) {
    body {
        background-color: #80939b93;
        font-size: large;
    }
    .boxes{
        font-size: small;
    }
    .boxes div img {

        width: 180px;
        height: 150px;
    }
}