#logo{
    width: 50px;
}
.main{
    background-color: rgb(100, 100, 100);
    color: #d4d4d4;
    background-color: #95a5a6;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.menue li{
    margin-inline: 10px;
}
.bg-body-tertiary{
    background-color: aqua;
}

.intro{
    width:100%;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 50% 40vh 20vh;
    grid-column: 2/5;
    text-wrap: wrap;
    overflow-wrap: normal;
}
.imgintro{
    width: 100%;
    max-width: 1150px;
    padding-top: 30px;
    grid-column: 2/ 4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}
.imgintro img{
    width:100%;
}
.txt1{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
    margin: 14px;
}
.txt2{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 30px;
    background: rgb(70 70 70);
    background: radial-gradient(circle, rgb(70 70 70) 3%, rgb(50 50 50) 78%, rgb(4 51 118 / 70%) 100%);    margin: 50px;
    border-radius:40px;
}
p {
    word-wrap: break-word;
    word-break: keep-all;
  }

  footer{
    background-color: gray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;

  }
