body {
    font-family: 'Young Serif', serif;
    text-align: center;
    background: #F0F8FF;
    width: 100%;

}

.boxes {
    margin-top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;

}

#header {
    position: fixed;
    margin-left: 0;
    background-color: #79cef5;
    opacity: 75%;
    top: 10px;
    width: 100%;

}

.boxes div {
    height: auto;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin: 25px;
    flex: flex-grow;
    flex-basis: 21%;
    flex-wrap: wrap;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #dae6f3 0%, #97c2fa 100%);

    opacity: 90%;

}


.boxes div:hover {
    width: 250px;
    border: 3px solid red;

}

.boxes div img {
    width: 180px;
    height: 150px;
    border-radius: 30px;
}

.boxes div img:hover {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.boxes :first-child {
    border-top-left-radius: 75px;
}

.boxes :last-child {
    border-bottom-right-radius: 75px;
}

#hidden:hover {
    visibility: hidden;
}