body {
    font-family: 'Young Serif', serif;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient( 120deg, #52E5E7 10%, #130CB7 80%);
    width:100%;

  }

  .boxes {
    margin-top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:small;
   
}
#header{
    position:fixed;
    margin-left: 10%;
    background-color: #130CB7;
    opacity: 75%;
    top:10px;
    width:80%;
    
}

.boxes div{
   height: auto;
   border: 2px solid black;
   text-align:center;
   border-radius: 20px;
   margin: 25px;
   flex: flex-grow;
   flex-basis: 21%;
   flex-wrap:wrap;
   background-color: #8BC6EC;
}


.boxes div:hover{
    width:250px;
    border: 5px solid red;

}

.boxes div img{
    width:180px;
    height:150px;
    border-radius: 30px;
}
.boxes div img:hover{
    width:250px;
    height:250px;
    border-radius: 25px;
}

.boxes :first-child{
    border-top-left-radius: 75px;
}
.boxes :last-child{
    border-bottom-right-radius: 75px;
}

#hidden:hover{
        visibility: hidden;
}